/// --- HOMEPAGE.SCSS --- ///
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
	height: 90vh;

	background-image: url("../../assets/images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 9rem;

	&__title {
		// @include page-header;
		font-size: 4.5rem;
	}

	&__buttons {
		padding-right: 3rem;
	}

	&__button {
		@include button;
		// color: $light-blue;
		color: $green-grey;
		background-color: $light-blue;
		border: 1px solid $darker-blue;
		margin: 2rem;

		&:hover {
			background-color: $darker-blue;
		}
	}
}
