// /// --- INBOX.SCSS --- ///

.inbox {
	margin: 2rem;
	// border: 1px solid black;
	border-radius: 20px;
	width: 400px;
	// height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 1rem;
	background-color: white;

	&__title {
		font-weight: 500;
	}

	&__user {
		margin-bottom: 0.5rem;
	}

	&__user-identity {
		display: flex;
		align-items: center;
		min-height: auto;
	}

	&__username {
		margin-left: 1rem;
	}

	&__location {
	}

	&__image {
		// margin-right: 1rem;
	}

	&__name {
		font-weight: 500;
	}
}
