/// --- MAP.SCSS --- ///
/* using react leaflet this is how you set the map hight */
.leaflet-container {
	height: 500px;
	width: 900px;
	border: 1px solid black;
	border-radius: 20px;
	// TODO background something cool, space? miliways, restaurant at the end of the universe
	// background-color: black;
	background: url("https://cdna.artstation.com/p/assets/images/images/006/519/308/large/alessandro-emanuelli-028.jpg?1499210379");
	z-index: 0;
}

.map {
	display: flex;
	justify-content: space-around;
}

.leaflet-popup-content-wrapper {
	height: fit-content;
	width: fit-content;
}
