/// --- HEADER.SCSS --- ///
@use "../../styles/partials/colors" as *;

.header {
	border-bottom: 1px solid $light-blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: linear-gradient(
		45deg,
		$light-blue,
		$darker-blue,
		$light-grey,
		$dark-grey
	);
	height: 100px;

	&__logged-in {
		// margin-left: 1rem;
		display: flex;
		align-items: center;
	}

	&__button-login {
		margin-left: 1rem;
	}

	&__avatar {
		height: 56px;
	}

	&__button-add-friend {
		margin-right: 1rem;
	}

	&__button-logout {
		margin-right: 1rem;
	}
}

.logo {
	height: 150px;
}
